h1 {
  text-align: center;
  color: rgb(3, 30, 70);
}

.d3-projects {
	display: flex;
	flex-direction: row-reverse;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: center;
	align-content: space-around;
}

.d3-projects img {
  width: 580px;
  height: 300px;
  border: 1px solid rgb(2, 2, 43);
}
